body{
    font-family: 'Fira Sans', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
}
.span-color{
    color: rgb(226, 99, 26);
}
.flexible-container{
    display: flex;
    padding-top: 5px;
    padding-bottom: 20px;
}
.half-part{
    width: 50%;
    padding-left: 10px;
    font-size: 20px;
}
.half-part img{
width: 80%;
}
.linkup-button{
    background-image:linear-gradient(orange,red);
    padding: 10px 40px;
    border-radius: 5px;
    text-decoration: none;
    color: aliceblue;
    font-weight: 700;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
.mid-banner{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.orange-color{
    color: orange;
}
.experience-item{
    width: 40%;
    box-shadow: 10px 10px 40px;
    margin-left: 5%;
    margin-right: 0;
    padding: 10px;
    font-size: 20px;

    
  
}
#border1{
    border-left: 10px solid;
    border-image: linear-gradient(red, orange);
    border-image-slice: 1;
}
#border2{
    border-left: 10px solid ;
    border-image: linear-gradient(blue,purple );
    border-image-slice: 1;
}
footer p{
    text-align: center;
    margin-top: 10% ;
}
.experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
